body{
    background-color: grey;
}
.container{
    background-color: white;
}
.form-row{
    display: flex;
}

.form-row input{
    flex: 1;
}

.column-layout{
    max-width: 1300px;
    margin: 40px auto;
    background-color: #fff;
    line-height: 1.65;
    padding: 20px 50px;
}

.wrap{
    box-sizing: border-box;
}

.col{
    height: 100px;
    margin: 20px;
}

div:nth-child(3){
    text-decoration: underline;
}