<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yelpcamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ul>li{    list-style-type: none;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
        <ul>
            <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <li><a>Currently signed in as: <%= currentUser.username %></a></li>
                <li><a href="/logout">LogOut</a></li>
            <% } %>
            </ul>
    
